html{
     background-color:#4d004d;
    margin: 0px;
    padding: 0px;
    font-family: Sans-serif;
}

.content_container{
    
    margin:30px;
}

fieldset{
    
    width:500px;
    
}

.label_lists{
    
    margin-left:1px
    
}

.inline{
    
    display:inline-block;
    
}

#svg{
        position:absolute;
        top:0px;
    bottom:0px;  
    left:0px;
    overflow:hidden;
    z-index:-1;
}

.header{
    border-bottom: 1px solid hotpink;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color:#404040;
    height:25px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item  {
    margin-left: 5rem;

}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #B452CD;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}




@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }




}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    padding: 15px;

    display: flex;
}